<!DOCTYPE html>
<html>
  <head>
    <title>Configuration backup</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <nav class="background" role="navigation">
      <a href="/" class="brand">Backup overview</a>
    </nav>

    <div id="docker">
      <h1 class="container">Recent backups</h1>
      <section class="container">
        <ul>
          {% for (title, link) in directories %}
          <li><a href="/{{ link }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </body>
</html>
